<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nadeem.tapswitch">

    <application
        android:allowBackup="true"
        android:label="TapSwitch"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".icon1"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:icon="@drawable/icon1"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon2"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:icon="@drawable/icon2"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon3"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:icon="@drawable/icon3"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>
</manifest>
